parameters:
    level: 8
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/

    ignoreErrors:
        # Doctrine gère les $id via reflection (auto-increment)
        - '#Property App\\Entity\\.+::\$id is never written, only read#'
        - '#Property App\\Entity\\.+::\$id \(int\|null\) is never assigned int#'

        # Doctrine gère les relations OneToOne/ManyToOne via reflection
        - '#Property App\\Entity\\.+::\$\w+ \(.+\|null\) is never assigned .+ so it can be removed from the property type#'
